[submodule "starter-service-kotlin-client"]
	path = starter-service-kotlin-client
	url = https://github.com/hwslabs/starter-service-kotlin-client.git
[submodule "starter-service-server"]
	path = starter-service-server
	url = https://github.com/hwslabs/starter-service-server.git
[submodule "starter-infrastructure"]
	path = starter-infrastructure
	url = https://github.com/hwslabs/starter-infrastructure.git
[submodule "starter-service-models"]
	path = starter-service-models
	url = https://github.com/hwslabs/starter-service-models.git
